.sub-header{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: white;
}

    

.sub-header p{
    margin-left: 200px;
    text-align: center;
}
.sub-header h5{
    margin-left: 10px;
    text-decoration: underline;
    text-align: center;
} 
.english h5{
    margin-left: 300px;
    text-align: center;
    display: flex;
    text-decoration: none;

}
.english img {
    text-align: center;
    height: 12px;
    width: 10px;
    margin-left: 5px;

}