/* whole subheader */


.sub-header{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: white;
}

    
/* Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! */
.sub-header p{
    margin-left: 200px;
    text-align: center;
}
/* ShopNow */
.sub-header h5{
    margin-left: 10px;
    text-decoration: underline;
    text-align: center;
} 
/* English */
.english h5{
    margin-left: 300px;
    text-align: center;
    display: flex;
    text-decoration: none;

}
/* arrow for english */
.english img {
    text-align: center;
    height: 10px;
    width: 10px;
    margin-left: 5px;
    

}
.english p img{
    margin-left: 5px;
    text-align: center;
}